* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    max-width: 1400px;
    min-width: 375px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0;
    margin-bottom: 0;
    color: #222222;
    background-color: #f7f7f7;
}



.header-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    position:fixed;
    top: auto;
    left: 0;
    background-color: white;
    width: 100%;
    border-bottom: #222222 solid 0.5px;
}
.logo-container {
    display: flex;
    justify-content: end;
    padding: 10px;
    
}

.logo-container__site-logo {
    height: 50px;
}
.logo-container__site-logo:hover {
    cursor: pointer;
}

.site-title {
    display: flex;
    width: 40%;
    align-items: center;
}
.site-title__image{
    display: block;
    height: 50%;   
}

.site-nav {
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.site-nav>a {
    display: flex;
    height: 100%;
    width: 25%;
    color: inherit;
    text-decoration: none;
    align-items: center;
    justify-content: center;
}

.site-nav>a:hover {
    /* font-weight: bold; */
    border-bottom: solid darkslategrey 5px;
}
.site-nav>a:focus {
    /* font-weight: bold; */
    border-bottom: solid darkslategrey 5px;
    
}





.banner {
    width: 100%;
}

.banner>img {
    margin-top: 50px;
    width: 100%;
    height: 400px;
    max-width: 1400px;
    object-fit: cover;
}
.sectiontitle{
    border-top: solid 80px transparent;
    font-size: 30px;
}

.services-section{
    display: flex;
    margin-bottom: 100px;
}
.services-info__imagen {
    border-radius: 20%;
    margin-right: auto;
    margin-left: auto;
    width:200px;
    height: 200px;
}

.services-info {
padding: 20px;
text-align: center;
}

.banner-tecnologia {
width: 100%;
}
.banner-tecnologia>img {
width: 100%;
height: 400px;
max-width: 1400px;
object-fit: cover;
}

.banner-deportes {
width: 100%;
}
.banner-deportes>img {
width: 100%;
height: 400px;
max-width: 1400px;
object-fit: cover;
}

.news-section,
.team-section {
    
    display: flex;
    margin-bottom: 0px;
}

.seccion-noticias,
.header-container,
.header-section{
    background-color: #f7f7f7

}
.seccion-equipo{
    background-color: #f7f7f7
}
.seccion-noticias {
    flex-wrap: wrap;
}



.news-info {
    width: 50%;
    padding: 10px;
}

.news-header {
    text-align: center;
}

.news-info__title {
    align-self: center;
}

.seccion-pie {
    background-color: #25294f;
    height: 200px;
    display: flex;
    color: white;
    justify-content: space-evenly;
}


.team-info{
    width: 25%;
    padding: 15px;
}

.team-info__imagen{
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.team-info__title{
    text-align: center;
}

