* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.services-section{
            display: flex;
            margin-bottom: 100px;
        }

.services-info__imagen {
            border-radius: 20%;
            margin-right: auto;
            margin-left: auto;
        }